{% extends "base.html" %}
{% block content %}
    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2>Manage <b>Vehicles</b></h2>
                        </div>
                        <div class="col-sm-12">
                            <a href="{% url 'create_vehicle' %}" class="btn btn-success"><i
                                    class="material-icons">&#xE147;</i> <span>Add New Vehicle</span></a>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Plate</th>
                            <th>Year</th>
                            <th>Color</th>
                            <th>Model</th>
                            <th>Owner</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for v in vehicles %}
                        <tr>
                            <td>{{ v.name }}</td>
                            <td>{{ v.plate }}</td>
                            <td>{{ v.year }}</td>
                            <td>{{ v.color }}</td>
                            <td>{{ v.model_vehicle }}</td>
                            <td>{{ v.owner }}</td>
                            <td>
                                <a href="{% url 'update_vehicle' id=v.pk %}" class="edit"><i class="material-icons"
                                    title="Edit">&#xE254;</i></a>
                                <a
                                    href="{% url 'delete_vehicle'  id=v.pk %}"
                                    class="delete"
                                    data-toggle="modal"
                                    data-target="#delete-item-modal"
                                    onclick="delete_user(this)"
                                    >
                                    <i
                                    class="material-icons"  title="Delete">&#xE872;</i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Delete Modal HTML -->
    <div id="delete-item-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Are you sure, You want to remove this vehicle ?</p>
                </div>
                <div class="justify-content-between mb-2 mr-2 text-right">
                    <form method="post"
                          id="item-delete-form"
                    >
                        <button type="button" class="btn btn-secondary mr-1" data-dismiss="modal">Cancel</button>
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger" id="confirm-delete-item-button">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        function delete_user(selected_user){
            document.getElementById("item-delete-form").action = selected_user.href
    }
    </script>
{% endblock %}